<h1>Listing volunteers</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Username</th>
    <th>Phone number</th>
    <th>Location</th>
    <th class="password">Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @volunteers.each do |volunteer| %>
  <tr>
    <td><%= volunteer.first_name %></td>
    <td><%= volunteer.last_name %></td>
    <td><%= volunteer.username %></td>
    <td><%= volunteer.phone_number %></td>
    <td><%= volunteer.location %></td>
    <td class="password"><%= volunteer.password %></td>
    <td><%= link_to 'Show', volunteer %></td>
    <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
    <td><%= link_to 'Destroy', volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Volunteer', new_volunteer_path %>
