<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @organizer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @organizer.last_name %>
</p>

<p>
  <b>Username:</b>
  <%= @organizer.username %>
</p>

<p>
  <b>Password:</b>
  <%= @organizer.password %>
</p>

<p>
  <b>Organization:</b>
  <%= @organizer.organization %>
</p>

<p>
  <b>Phone number:</b>
  <%= @organizer.phone_number %>
</p>


<%= link_to 'Edit', edit_organizer_path(@organizer) %> |
<%= link_to 'Back', organizers_path %>
