<p id="notice"><%= notice %></p>

<p>
  <b>Contacted:</b>
  <%= @survey.contacted %>
</p>

<p>
  <b>Continue visiting:</b>
  <%= @survey.continue_visiting %>
</p>

<p>
  <b>Urgency:</b>
  <%= @survey.urgency %>
</p>

<p>
  <b>Power:</b>
  <%= @survey.power %>
</p>

<p>
  <b>Heat:</b>
  <%= @survey.heat %>
</p>

<p>
  <b>Water:</b>
  <%= @survey.water %>
</p>

<p>
  <b>Gas:</b>
  <%= @survey.gas %>
</p>

<p>
  <b>Food:</b>
  <%= @survey.food %>
</p>

<p>
  <b>Medical:</b>
  <%= @survey.medical %>
</p>

<p>
  <b>Clothing:</b>
  <%= @survey.clothing %>
</p>

<p>
  <b>Water:</b>
  <%= @survey.water %>
</p>

<p>
  <b>Flashlights:</b>
  <%= @survey.flashlights %>
</p>

<p>
  <b>Misc:</b>
  <%= @survey.misc %>
</p>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
