<%= form_for(@misc) do |f| %>
  <% if @misc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@misc.errors.count, "error") %> prohibited this misc from being saved:</h2>

      <ul>
      <% @misc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
